@page
@{
    ViewData["Title"] = "Access denied";
}
<section class="content">
    <div class="error-page">
        <h3 class="headline text-danger">Access Denied</h3>
        <div class="error-content">
            <h3><i class="fa fa-stop-circle text-danger"></i> Stop!</h3>
            <p class="mt-5">It seems you don't have adequate rights or permissions to access this resource.</p>
            <p>Meanwhile, you may <a asp-page="/Index">return to Home Page</a></p>
        </div>
    </div>
</section>