@page
@model WebApp.Pages.Admin.OtherLink.PendingModel
@{
    ViewData["Title"] = "Pending";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Pending For Approval</h3>
            <div class="form-group form-row">
                <label class="col-md-3 col-lg-2 col-form-lable" style="text-align:right">Status Type</label>
                <div class="col-md-3 col-lg-3">
                    <select id="selectstatus" class="form-control">
                        <option selected>Pending</option>
                        <option>Approved</option>
                        <option>Rejected</option>
                    </select>
                    <br />
                </div>
            </div>
            @*<a class="btn btn-sm btn-success float-right" asp-page="Manage"><i class="fa fa-save"></i> Create New</a>*@
            <div class="clearfix"></div>
        </div>
        <div class="card-body" id="pendingdata">
            <partial name="_ProductTable" model="@Model.PetrolPriceBuildupListVm" />
        </div>
    </div>
</section>
