@page "{pid?}"
@model WebSite.Pages.BuyerPaymentsModel
@{
    ViewData["Title"] = "Buyer Payments";
}
<section class="content sectionbg">
    <div class="container content">
        <div class="row">

            <div class="card card-register mx-auto mt-5 col-md-9">

                <input type="hidden" asp-for="ProductsDetail.CreatedDate" asp-format="{0:yyyy-MM-dd}" />

                <div class="card-header"><h2>Payments</h2></div>
                <div class="card-body">
                    <form method="post">
                        <div class="product-head-left">
                            <h1>@Model.ProductsDetail.SubSubCategoriesName</h1>
                            <div class="proMeta">
                                <ul>
                                    <li>Code: <span>@Model.ProductsDetail.ProductNumber</span></li>
                                    <li>Category: <span>@Model.ProductsDetail.Name</span></li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label asp-for="Payment.PaymentModeId">Payment Mode<span class="required">*</span></label>
                                        <select asp-for="Payment.PaymentModeId" id="ddlPaymentMode" class="custom-select">
                                            <option value="">--Select--</option>
                                            <option value="1">Online</option>
                                            <option value="2">Offline</option>
                                            <option value="3">Bank Guarantee</option>
                                        </select>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="divoff">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6" id="divDdChequeNo">
                                        <div class="form-label-group">
                                            <label asp-for="Payment.DdChequeNo">DD / Ch. No.<span class="required">*</span></label>
                                            <input asp-for="Payment.DdChequeNo" type="text" class="form-control" placeholder="DD / Ch. No." />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="divBgNo">
                                        <div class="form-label-group">
                                            <label asp-for="Payment.BgNo">BG No.<span class="required">*</span></label>
                                            <input asp-for="Payment.BgNo" type="text" class="form-control" placeholder="BG No." />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label asp-for="Payment.ChAndBgDate">Date<span class="required">*</span></label>
                                            @*<input asp-for="Payment.ChAndBgDate" type="text" class="form-control" placeholder="Date" />*@
                                            <input asp-for="Payment.ChAndBgDate" id="txtChAndBgDate" type="text" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off" />
                                            <span asp-validation-for="Payment.ChAndBgDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label asp-for="Payment.DrawnOn">Drawn On<span class="required">*</span></label>
                                            <input asp-for="Payment.DrawnOn" type="text" class="form-control" placeholder="Drawn On" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label asp-for="Payment.AmountRp">Amount - Reserve Price</label>
                                            <input asp-for="Payment.AmountRp" readonly type="text" class="form-control" placeholder="Enter the Reserve Price (INR)" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="ddch_contentid">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-label-group">
                                            Please send DD / Cheque at this address: Surplus Platform LLP, 602, Indraprakash Building, 21-Barakhamba Road, New Delhi - 110001. Please mention the Product Code behind the DD / Cheque.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="bg_contentid">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-label-group" style="padding-bottom:15px;">
                                            To download Bank Guarantee Format, Please <a href="~/Files/BankGuaranteeFormat.pdf" download>Click Here</a>
                                        </div>
                                        <div class="form-label-group">
                                            Please send Bank Guarantee at this address: Surplus Platform LLP, 602, Indraprakash Building, 21-Barakhamba Road, New Delhi - 110001. Please mention the Product Code behind the Bank Guarantee.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        <label asp-for="Payment.BgNo">BG No.<span class="required">*</span></label>
                        <input asp-for="Payment.BgNo" type="text" class="form-control" placeholder="BG No." />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>*@
                        </div>
                        <div class="form-row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-block btn-primary">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts{
    <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#divoff").hide();
            $('#ddlPaymentMode').on('change', function () {
                if (this.value == '')
                //.....................^.......
                {
                    $("#divoff").hide();
                }
                else if (this.value == '1')
                //.....................^.......
                {
                    $("#divoff").hide();
                }
                else if (this.value == '2')
                //.....................^.......
                {
                    $("#divDdChequeNo").show();
                    $("#divBgNo").hide();
                    $("#divoff").show();
                    $("#ddch_contentid").show();
                    $("#bg_contentid").hide();
                }
                else {
                    $("#divDdChequeNo").hide();
                    $("#divBgNo").show();
                    $("#divoff").show();
                    $("#ddch_contentid").hide();
                    $("#bg_contentid").show();
                }
            });
        });

        //Initalize daterange
        //$(document).ready(function () {
        //    var today = new Date();
        //    $('#txtChAndBgDate').datepicker({

        //        format: 'dd/mm/yyyy'
        //        //"minDate": today,
        //        });
        //});
        $(document).ready(function () {
            //var date = new Date();
            //var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            var beforedatedisabled = $("#ProductsDetail_CreatedDate").val();
            $('#txtChAndBgDate').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                //startDate: '-125d'
                startDate: new Date(beforedatedisabled)
            });
            //$('#txtChAndBgDate').datepicker('setDate', today);
            $("#txtChAndBgDate").datepicker("setDate", new Date);
        });
    </script>
}