@page
@model WebSite.Pages.ListningDemoModel
@{
}

<link href="~/css/test.css" rel="stylesheet" />
<section class="content sectionbg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 profiletop">
                <div class="card border-0">
                    <img src="https://www.bootdey.com/img/Content/avatar/avatar6.png" class="mx-auto" width="200" height="200" alt="...">
                    <div class="card-body">
                        <div class="mb-4">
                            <h3 class="h4 mb-0">PECS</h3>
                            <span class="text-primary">CEO &amp; Founder</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2"><a href="#!"><i class="fa fa-map-marker"></i><span class="pl-2">India</span></a></li>
                            <li class="mb-2"><a href="#!"><i class="fa fa-envelope"></i><span class="pl-2">dakota@gmail.com</span></a></li>
                            <li class="mb-2"><a href="#!"><i class="fa fa-phone"></i><span class="pl-2">98989889989</span></a></li>
                        </ul>
                    </div>
                </div>
                <nav class="list-group">
                    <a class="list-group-item with-badge" href="#"><i class="fa fa-user"></i>My Profile<span class="badge badge-primary badge-pill">6</span></a>
                    <a class="list-group-item" href="#"><i class="fa fa-list"></i>My Listning</a>
                    <a class="list-group-item" href="#"><i class="fa-list-alt"></i>Add Listning</a>
                    <a class="list-group-item with-badge" href="#"><i class="fa fa-commenting"></i>Message<span class="badge badge-primary badge-pill">3</span></a>
                    <a class="list-group-item with-badge" href="#"><i class="fa fa-file-o"></i>Draft<span class="badge badge-primary badge-pill">4</span></a>
                    <a class="list-group-item with-badge" href="#"><i class="fa fa-tasks"></i>Service Requests<span class="badge badge-primary badge-pill">4</span></a>
                    <a class="list-group-item with-badge" href="#"><i class="fa fa-heart"></i>Favorites<span class="badge badge-primary badge-pill">4</span></a>
                </nav>
            </div>
            <div class="col-lg-9 profiletop">
                <div class="card">
                    <div class="card-header">
                        Profile
                    </div>
                    <div class="card-body" style="overflow-x:auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Listning Is</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>abc</td>
                                    <td>abc</td>
                                    <td><img src="abc.png"></td>
                                    <td>abc</td>
                                    <td>abc</td>
                                    <td>abc</td>
                                    <td class="text-white">
                                        <a href="#" class="btn-sm btn-dark">View</a>
                                        <a href="#" class="btn-sm btn-danger" style="margin-left:2px;">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>