.myaccordion {
    max-width: 500px;
    margin: 70px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

    .myaccordion .card,
    .myaccordion .card:last-child .card-header {
        border: none;
    }

    .myaccordion .card-header {
        border-bottom-color: #EDEFF0;
        background: transparent;
    }

    .myaccordion .fa-stack {
        font-size: 18px;
    }

    .myaccordion .btn {
        width: 100%;
        font-weight: bold;
        color: #004987;
        padding: 0;
    }

    .myaccordion .btn-link:hover,
    .myaccordion .btn-link:focus {
        text-decoration: none;
    }

    .myaccordion li + li {
        margin-top: 10px;
    }

.fa-sign-out-alt:before {
    content: "";
}
    .sectionbg {
    background-color: #5446220a;
}

.profiletop {
    margin-top: 4rem;
}





.user-info-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 90px;
    padding-bottom: 30px;
    border: 1px solid #e1e7ec;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden
}

    .user-info-wrapper .user-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background-position: center;
        background-color: #f5f5f5;
        background-repeat: no-repeat;
        background-size: cover
    }

        .user-info-wrapper .user-cover .tooltip .tooltip-inner {
            width: 230px;
            max-width: 100%;
            padding: 10px 15px
        }

    .user-info-wrapper .info-label {
        display: block;
        position: absolute;
        top: 18px;
        right: 18px;
        height: 26px;
        padding: 0 12px;
        border-radius: 13px;
        background-color: #fff;
        color: #606975;
        font-size: 12px;
        line-height: 26px;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18);
        cursor: pointer
    }

        .user-info-wrapper .info-label > i {
            display: inline-block;
            margin-right: 3px;
            font-size: 1.2em;
            vertical-align: middle
        }

    .user-info-wrapper .user-info {
        display: table;
        position: relative;
        width: 100%;
        padding: 0 18px;
        z-index: 5
    }

        .user-info-wrapper .user-info .user-avatar,
        .user-info-wrapper .user-info .user-data {
            display: table-cell;
            vertical-align: top
        }

        .user-info-wrapper .user-info .user-avatar {
            position: relative;
            width: 115px
        }

            .user-info-wrapper .user-info .user-avatar > img {
                display: block;
                width: 100%;
                border: 5px solid #fff;
                border-radius: 50%
            }

            .user-info-wrapper .user-info .user-avatar .edit-avatar {
                display: block;
                position: absolute;
                top: -2px;
                right: 2px;
                width: 36px;
                height: 36px;
                transition: opacity .3s;
                border-radius: 50%;
                background-color: #fff;
                color: #606975;
                line-height: 34px;
                box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
                opacity: 0;
                text-align: center;
                text-decoration: none
            }

                .user-info-wrapper .user-info .user-avatar .edit-avatar::before {
                    font-family: feather;
                    font-size: 17px;
                    content: '\e058'
                }

            .user-info-wrapper .user-info .user-avatar:hover .edit-avatar {
                opacity: 1
            }

        .user-info-wrapper .user-info .user-data {
            padding-top: 48px;
            padding-left: 12px
        }

            .user-info-wrapper .user-info .user-data h4 {
                margin-bottom: 2px
            }

            .user-info-wrapper .user-info .user-data span {
                display: block;
                color: #9da9b9;
                font-size: 13px
            }

    .user-info-wrapper + .list-group .list-group-item:first-child {
        border-radius: 0
    }

    .user-info-wrapper + .list-group .list-group-item:first-child {
        border-radius: 0;
    }

.list-group-item:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

a.list-group-item {
    padding-top: .87rem;
    padding-bottom: .87rem;
}

a.list-group-item, .list-group-item-action {
    transition: all .25s;
    color: #606975;
    font-weight: 500;
}

.with-badge {
    position: relative;
    padding-right: 3.3rem;
}

.list-group-item {
    border-color: #e1e7ec;
    background-color: #fff;
    text-decoration: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}

.badge.badge-primary {
    background-color: #c5ae67;
}

.with-badge .badge {
    position: absolute;
    top: 50%;
    right: 1.15rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list-group-item i {
    margin-top: -4px;
    margin-right: 8px;
    font-size: 1.1em;
}



:root {
    --primary-color: rgb(11, 78, 179)
}

*,
*::before,
*::after {
    box-sizing: border-box
}

.formbutton {
    background-color: #987e37;
}





.ml-auto {
    margin-left: auto
}


.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem
}

    .progressbar::before,
    .progress {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        background-color: #dcdcdc;
        z-index: 1
    }

.progress {
    background-color: #7c7878;
    width: 0%;
    transition: 0.3s
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1
}

    .progress-step::before {
        counter-increment: step;
        content: counter(step)
    }

    .progress-step::after {
        content: attr(data-title);
        position: absolute;
        top: calc(100% + 0.5rem);
        font-size: 0.85rem;
        color: #666
    }

.progress-step-active {
    background-color: #c5ae67;
    color: #f3f3f3
}


.step-forms {
    display: none;
    transform-origin: top;
    animation: animate 1s
}

.step-forms-active {
    display: block
}

.group-inputs {
    margin: 1rem 0
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0
    }

    to {
        transform: scale(1, 1);
        opacity: 1
    }
}

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem
}

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s
}

    .btn:hover {
        box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color)
    }

.progress-step-check {
    position: relative;
    background-color: #000000 !important;
    transition: all 0.8s
}

    .progress-step-check::before {
        position: absolute;
        content: '\2713';
        width: 100%;
        height: 100%;
        top: 8px;
        left: 13px;
        font-size: 12px
    }

.group-inputs {
    position: relative
}

    .group-inputs label {
        font-size: 13px;
        position: absolute;
        height: 19px;
        padding: 4px 7px;
        top: -14px;
        left: 10px;
        color: #a2a2a2;
        background-color: white
    }

.welcome {
    height: 450px;
    width: 350px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center
}

    .welcome .content {
        display: flex;
        align-items: center;
        flex-direction: column
    }

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%, 100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}

a:hover {
    background-color: lightgray;
}

.btncol {
    background-color: #987e37;
    width: 100%
}

.btncolr {
    background: #877036;
}

.drop-zone {
    max-width: 100%;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

    .drop-zone__thumb::after {
        content: attr(data-label);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 14px;
        text-align: center;
    }

.profileuser {
    margin: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photoUser {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    object-fit: cover;
}

.conFooter {
    border-top: 1px solid;
    border-radius: 4px;
    margin-bottom: -10px;
    background: white;
}
    
