<div class="modal fade" id="changePasswordModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalTitle">Change Password Advise</h5>
                <a class="close" asp-page-handler="ChangePasswordLater"><span aria-hidden="true">&times;</span></a>
            </div>
            <div class="modal-body">
                <p class="mb-0">Currently you are using the default password.</p>
                <p class="mb-0">You are advised to change your password for security reasons.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-primary" asp-page="/Account/ChangePassword">Change now</a>
                <a class="btn btn-sm btn-info" asp-page-handler="ChangePasswordLater">May be later</a>
                <a class="btn btn-sm btn-danger" asp-page-handler="SetPasswordStatus">No thanks</a>
            </div>
        </div>
    </div>
</div>