<div id="divClientAlert" class="alert" role="alert" style="display: none;">
    <button type="button" class="close" data-hide="alert" aria-label="Close"><i class="fa fa-times"></i></button>
    <p class="m-0"></p>
</div>