<div class="modal fade" id="clientConfirmationModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="clientConfirmationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientConfirmationModalTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="confirmMessage" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmTrue" class="btn btn-sm btn-primary">YES</button>
                <button type="button" id="confirmFalse" class="btn btn-sm btn-secondary" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>