<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | Surplus Platform</title>
    <link rel="icon" href="/img/favicon.ico" type="image/ico" />

    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/datatables/DataTables-1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/datatables/Buttons-1.7.1/css/buttons.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/datatables/ColReorder-1.5.4/css/colReorder.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/plugins/datatables/DateTime-1.1.0/css/dataTables.dateTime.min.css" rel="stylesheet" asp-append-version="true" />*@
    @*<link href="~/plugins/datatables/FixedColumns-3.3.3/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/plugins/datatables/FixedHeader-3.1.9/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/plugins/datatables/KeyTable-2.6.2/css/keyTable.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/plugins/datatables/Responsive-2.2.9/css/responsive.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/plugins/datatables/RowGroup-1.1.3/css/rowGroup.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/plugins/datatables/RowReorder-1.2.8/css/rowReorder.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/plugins/datatables/Scroller-2.0.4/css/scroller.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
    @*<link href="~/plugins/datatables/SearchBuilder-1.1.0/css/searchBuilder.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
    @*<link href="~/plugins/datatables/SearchPanes-1.3.0/css/searchPanes.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
    @*<link href="~/plugins/datatables/Select-1.3.3/css/select.bootstrap4.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/plugins/daterangepicker/daterangepicker.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/alt-theme/css/adminlte.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/styles.min.css" rel="stylesheet" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
    @*<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true" integrity="sha256-S75GkiFesBYApapc9z963NK1rTHVfL+uT+kz147UnOs=" crossorigin="anonymous">*@
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true" integrity="sha256-c73jiDwXcWz826zUVPtiptGIkCo49+pQ1w7JnOtEfms=" crossorigin="anonymous">

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-light bg-theme-primary">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a asp-page="/Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a asp-page="/ContactUs" class="nav-link">Contact</a>
                    </li>*@
            </ul>
            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@
            <ul class="navbar-nav ml-auto">
                @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <img src="/img/users/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <img src="/img/users/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">I got your message bro</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <div class="media">
                                    <img src="/img/users/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">The subject goes here</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>*@
                @*<li class="nav-item dropdown"><i id="netStatus" class="fa fa-circle text-secondary"></i></li>*@
                @if (User.Identity.IsAuthenticated)
                {
                    <li id="liNotifications" class="nav-item dropdown">
                        <vc:notifications></vc:notifications>
                    </li>
                }
                <li class="nav-item dropdown">
                    <partial name="_LoginPartial" />
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>*@
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-light-danger elevation-1">
            <a asp-page="/Index" class="brand-link text-center py-1" style="height: 57px;">
                <img src="/img/logo.png" alt="TEMP" style="height: 100%;">
                @*<span class="brand-text font-weight-light"> TEMP</span>*@
            </a>
            <div class="sidebar">
                <partial name="_UserPartial" />
                @if (User.Identity.IsAuthenticated)
                {
                    <nav class="mt-2">
                        <vc:menu></vc:menu>
                    </nav>
                }
            </div>
        </aside>
        <div class="content-wrapper">
            <partial name="_ClientAlertPartial" />
            @*<partial name="_NotificationModalPartial" />*@
            <partial name="_NotificationGroupModalPartial" />
            <partial name="_ClientConfirmationModalPartial" />
            @RenderBody()
        </div>
        <footer class="main-footer d-print-none">
            <strong>Copyright &copy; 2020 <a asp-page="/Index">TEMP</a></strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> MVP
            </div>
        </footer>
        <aside class="control-sidebar control-sidebar-dark d-print-none">
        </aside>
    </div>

    <script src="~/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/plugins/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/plugins/daterangepicker/moment.min.js" asp-append-version="true"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.min.js" asp-append-version="true"></script>
    <script src="~/plugins/inputmask/jquery.inputmask.bundle.min.js" asp-append-version="true"></script>
    <script src="~/plugins/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/plugins/jquery-validate/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/JSZip-2.5.0/jszip.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/pdfmake-0.1.36/pdfmake.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/pdfmake-0.1.36/vfs_fonts.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/DataTables-1.10.25/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/DataTables-1.10.25/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/Buttons-1.7.1/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/Buttons-1.7.1/js/buttons.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/Buttons-1.7.1/js/buttons.colVis.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/Buttons-1.7.1/js/buttons.html5.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/Buttons-1.7.1/js/buttons.print.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/ColReorder-1.5.4/js/dataTables.colReorder.min.js" asp-append-version="true"></script>
    @*<script src="~/plugins/datatables/DateTime-1.1.0/js/dataTables.dateTime.min.js" asp-append-version="true"></script>*@
    @*<script src="~/plugins/datatables/FixedColumns-3.3.3/js/dataTables.fixedColumns.min.js" asp-append-version="true"></script>*@
    <script src="~/plugins/datatables/FixedHeader-3.1.9/js/dataTables.fixedHeader.min.js" asp-append-version="true"></script>
    @*<script src="~/plugins/datatables/KeyTable-2.6.2/js/dataTables.keyTable.min.js" asp-append-version="true"></script>*@
    <script src="~/plugins/datatables/Responsive-2.2.9/js/dataTables.responsive.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/Responsive-2.2.9/js/responsive.bootstrap4.min.js" asp-append-version="true"></script>
    @*<script src="~/plugins/datatables/RowGroup-1.1.3/js/dataTables.rowGroup.min.js" asp-append-version="true"></script>*@
    <script src="~/plugins/datatables/RowReorder-1.2.8/js/dataTables.rowReorder.min.js" asp-append-version="true"></script>
    @*<script src="~/plugins/datatables/Scroller-2.0.4/js/dataTables.scroller.min.js" asp-append-version="true"></script>*@
    @*<script src="~/plugins/datatables/SearchBuilder-1.1.0/js/dataTables.searchBuilder.min.js" asp-append-version="true"></script>*@
    @*<script src="~/plugins/datatables/SearchBuilder-1.1.0/js/searchBuilder.bootstrap4.min.js" asp-append-version="true"></script>*@
    @*<script src="~/plugins/datatables/SearchPanes-1.3.0/js/dataTables.searchPanes.min.js" asp-append-version="true"></script>*@
    @*<script src="~/plugins/datatables/SearchPanes-1.3.0/js/searchPanes.bootstrap4.min.js" asp-append-version="true"></script>*@
    @*<script src="~/plugins/datatables/Select-1.3.3/js/dataTables.select.min.js" asp-append-version="true"></script>*@
    <script src="~/plugins/alt-theme/js/adminlte.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_SessionExpireNotification" />
    }
</body>
</html>
