<div class="modal fade" id="notificationGroupModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="notificationGroupModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationGroupModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="notificationGroupModalText" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">OK</button>
                @*<button id="deleteMe" type="button" class="btn btn-sm btn-secondary">Delete</button>*@
                <a id="targetLink" class="btn btn-sm btn-secondary" style="display: none;">Go <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>