@model SubSubCategoriesDTO
<div class="modal fade" id="ManageModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ManageModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" asp-page-handler="Manage">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedBy" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ManageModalTitle">Manage Sub-Sub-Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="col-form-label">Select Category<span class="required">*</span></label>
                        <select asp-for="CategoryId"  class="form-control">
                            <option value="">-select-</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SubCategoryId" class="col-form-label">Select Sub-Category<span class="required">*</span></label>
                        <select asp-for="SubCategoryId" class="form-control">
                            <option value="">-select-</option>
                        </select>
                        <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                    </div>




                    <div class="form-group">
                        <label asp-for="SubSubCategoriesName" class="col-form-label">Sub-Sub-Category Name<span class="required">*</span></label>
                        <input asp-for="SubSubCategoriesName" class="form-control" placeholder="Sub-Sub-Category Name" autocomplete="on" />
                        <span asp-validation-for="SubSubCategoriesName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-on-primary">
                            <input asp-for="IsActive" class="custom-control-input">
                            <label asp-for="IsActive" class="custom-control-label">Active</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

@*<div class="modal fade" id="ManageModal_Edit" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ManageModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" asp-page-handler="Manage">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedBy" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ManageModalTitle">Edit Sub-Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="col-form-label">Select Category<span class="required">*</span></label>
                        <select asp-for="CategoryId" class="form-control">
                            <option value="">-select-</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SubCategoryId" class="col-form-label">Select Sub-Category<span class="required">*</span></label>
                        <select asp-for="SubCategoryId" class="form-control">
                            <option value="">-select-</option>
                        </select>
                        <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                    </div>




                    <div class="form-group">
                        <label asp-for="SubSubCategoriesName" class="col-form-label">Sub-Sub-Category Name<span class="required">*</span></label>
                        <input asp-for="SubSubCategoriesName" class="form-control" placeholder="Sub-Sub-Category Name" autocomplete="on" />
                        <span asp-validation-for="SubSubCategoriesName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-on-primary">
                            <input asp-for="IsActive" class="custom-control-input">
                            <label asp-for="IsActive" class="custom-control-label">Active</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>*@