@page
@model WebSite.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    
}
@section Styles{
    <link href="~/plugins/password-requirement/css/jquery.passwordRequirements.css" rel="stylesheet" />
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <partial name="Shared/_DashboardSellerLeftPartial" />

            <div class="card-register mx-auto mt-2 col-md-9">
                <div class="card">
                    <h2 class="card-header">Change Password</h2>
                    <div class="card-body">
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <input asp-for="Input.Username" type="hidden" value="@User.Identity.Name" />
                            <div class="form-group">
                                <label asp-for="Input.Password" class="col-form-label">Password*</label>
                                <div class="input-group">
                                    <input asp-for="Input.Password" class="form-control" placeholder="Current Password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="toggle_pwd fa fa-eye" title="Show/Hide Password" data-toggle="tooltip" data-placement="top"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger-sm"></span>
                                <span class="information">Your current password</span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.NewPassword" class="col-form-label">New Password*</label>
                                <div class="input-group">
                                    <input class="form-control pr-password" placeholder="New Password" asp-for="Input.NewPassword" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="toggle_pwd fa fa-eye" title="Show/Hide Password" data-toggle="tooltip" data-placement="top"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.NewPassword" class="text-danger-sm"></span>
                                <span class="information">8 to 32 characters including 1 lower-case, 1 upper-case, 1 special character and a digit</span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword" class="col-form-label">Confirm Password*</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="Confirm Password" asp-for="Input.ConfirmPassword" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="toggle_pwd fa fa-eye" title="Show/Hide Password" data-toggle="tooltip" data-placement="top"></span>
                                        </div>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger-sm"></span>
                                <span class="information">Must match with your new password</span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 offset-sm-4">
                                    <button type="submit" class="pr-submit-btn btn btn-primary btn-block">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/plugins/password-requirement/js/jquery.passwordRequirements.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(".pr-password").passwordRequirements();
        $(".toggle_pwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $(this).parent().parent().prev('input').attr("type", type);
        });
    </script>
}
