@page

@using Microsoft.AspNetCore.Http
@model WebSite.Pages.Account.Seller_LoginModel
@{
    ViewData["Title"] = "Sign in";
    Layout = "_LoginLayout";
}
<div class="col-md-4 offset-md-4">
    <div class="card">
        <h5 class="card-header text-center">Login</h5>
        <div class="card-body login-card-body">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <input type="hidden" asp-for="Input.EncUsername" />
                <input type="hidden" asp-for="Input.EncPassword" />
                <input type="hidden" data-glass="@HttpContext.Session.GetString("Glass")" class="remMe">

                <div class="form-group">
                    <label asp-for="Input.Username" class="col-form-label">Email ID*</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Email ID" asp-for="Input.Username" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="col-form-label">Password*</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Password" asp-for="Input.Password" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                @*<span class="fas fa-lock"></span>*@
                                <span id="toggle_pwd" class="fa fa-fw fa-eye field_icon"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <img id="img-captcha" src="/Common/GetCaptchaImage" alt="captcha" />
                        </div>
                        <input type="text" class="form-control" placeholder="Captcha Code" asp-for="Input.CaptchaCode" />
                        <div class="input-group-append" title="Reresh Captcha" data-toggle="tooltip" data-placement="top">
                            <div class="input-group-text">
                                <span id="captchaRefresh" class="fa fa-redo"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.CaptchaCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="btnSave" type="button" class="btn btn-primary btn-block">Sign In</button>
                </div>
            </form>
            <div class="form-group float-left">
                    <a asp-page="/">Back to Home</a>
                </div>
            <div class="form-group float-right">
                <a asp-page="ForgotPassword">Forgot Password?</a>
            
            </div>
            <div class="clearfix"></div>
            @*<div class="social-auth-links text-center m-0">
                    <p>- OR -</p>
                    <a class="btn btn-primary btn-block" asp-page="Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>*@
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#toggle_pwd").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
                $("#Input_Password").attr("type", type);
            });
        });

        $("#img-captcha,#captchaRefresh").click(function () {
            resetCaptchaImage();
        });
        function resetCaptchaImage() {
            var d = new Date();
            $("#img-captcha").attr("src", "/Common/GetCaptchaImage?" + d.getTime());
        }
        function SubmitForm(event) {
            debugger;

            var ctrlOldHtml = $('#btnSave').html();
            var theForm = $('#btnSave').parents('form:first');
            if (theForm.valid()) {

                var txtUsername = $('#Input_Username').val();
                var txtPassword = $('#Input_Password').val();
                if (txtUsername == "") {
                    $("#divClientAlert").addClass("alert-danger");
                    $("#divClientAlert > p.m-0").text("User Name is required");
                    $("#divClientAlert").show();
                    SetTimeOut($("#divClientAlert"));
                    return false;
                } else if (txtPassword == "") {
                    $("#divClientAlert").addClass("alert-danger");
                    $("#divClientAlert > p.m-0").text("Password is required");
                    $("#divClientAlert").show();
                    SetTimeOut($("#divClientAlert"));
                    return false;
                } else {
                    $('#Input_EncUsername').val(Encrypt(txtUsername));
                    $('#Input_EncPassword').val(Encrypt(txtPassword));
                    $('#Input_Password').val('Pa$$w0rdPa$$w0rd');
                    $('#btnSave').attr('disabled', true);
                    $('#btnSave').html('<i class="fa fa-spinner fa-spin"></i> Please wait');
                    theForm.submit();
                    return true;
                }
            } else {
                event.preventDefault();
                $('#btnSave').attr('disabled', false);
                $('#btnSave').html(ctrlOldHtml);
                return false;
            }
        };

        $('#btnSave').click(function (event) {
            SubmitForm(event);
        });

        $('form').keypress((e) => {
            if (e.which === 13) {
                SubmitForm(e);
                return true;
            }
        });
    </script>
}