@page
@model WebSite.Pages.Account.VisitorProfileModel
@{
    ViewData["Title"] = "Buyer Profile";
}
<section class="content sectionbg">
    <div class="container content">
        <div class="row">
            <partial name="Shared/_DashboardSellerLeftPartial" />

            <div class=" mx-auto mt-2 col-md-9">
                <div class="card">
                    @if (TempData["Message"] != null)
                    {
                        var message = ((string)TempData["Message"]);
                        <div id="divAlertMessage" class="alert alert-@(!string.IsNullOrEmpty(message) ? message : "secondary") alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                            <strong>
                                <p style="font-weight:bold;color:red" class="m-0">@TempData["Message"]</p>
                            </strong>
                        </div>
                    }
                    <div class="card-header">
                        <h2>Manage Profile</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">

                            <input type="hidden" asp-for="VisitorRegistrationsdto.Id" />
                            <input type="hidden" asp-for="VisitorRegistrationsdto.VeryfyEmail" />
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">


                                        <div class="form-label-group">
                                            <label asp-for="VisitorRegistrationsdto.FirstName">First Name<span class="required">*</span></label>
                                            <input type="text" id="txtFirstName" asp-for="VisitorRegistrationsdto.FirstName" class="form-control" placeholder="First Name" />

                                        </div>
                                        <div class="form-label-group">
                                            <label asp-for="VisitorRegistrationsdto.CompanyName">Company Name<span class="required"></span></label>
                                            <input type="text" asp-for="VisitorRegistrationsdto.CompanyName" class="form-control" placeholder="Company Name" />


                                        </div>
                                        <div class="form-label-group">
                                            <label asp-for="VisitorRegistrationsdto.ContactNo">Mobile/Cell Number<span class="required">*</span></label>
                                            <input asp-for="VisitorRegistrationsdto.ContactNo" id="txtMobileNo" type="text" class="form-control" placeholder="Mobile/Cell Number" />

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label asp-for="VisitorRegistrationsdto.LastName">Last Name<span class="required">*</span></label>
                                            <input asp-for="VisitorRegistrationsdto.LastName" type="text" class="form-control" placeholder="Last Name" />

                                        </div>
                                        <div class="form-label-group">
                                            <label asp-for="VisitorRegistrationsdto.Email">Email (User ID)<span class="required">*</span></label>
                                            <input asp-for="VisitorRegistrationsdto.Email" type="text" class="form-control" placeholder="Email (User ID)"  />

                                        </div>
                                        <div class="form-label-group">
                                            <label asp-for="VisitorRegistrationsdto.Address" class="col-form-label">Address<span class="required"></span></label>
                                            <input asp-for="VisitorRegistrationsdto.Address" id="txtMobileNo" type="text" class="form-control mt-2" placeholder="Address" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="mx-auto col-md-4">
                                <button type="submit" id="btnsubmit" class="btn btn-block btn-primary">Update</button>
                            </div>*@


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
