@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_LoginLayout";
}
<div class="col-md-4 offset-md-4">
    <div class="card">
        <h5 class="card-header text-center">Forgot your password?</h5>
        <div class="card-body login-card-body">
            <p>Enter username to reset your password...</p>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Username" class="col-form-label">Username*</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Username" asp-for="Username" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Username" class="text-danger-sm"></span>
                    <span class="information">Your unique 'Username' with which you created your account with us</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <img id="img-captcha" src="/Common/GetCaptchaImage" alt="captcha" />
                        </div>
                        <input type="text" class="form-control" placeholder="Captcha Code" asp-for="CaptchaCode" />
                        <div class="input-group-append" title="Reresh Captcha" data-toggle="tooltip" data-placement="top">
                            <div class="input-group-text">
                                <span id="captchaRefresh" class="fa fa-redo"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
            <div class="form-group float-left">
                <a asp-page="ForgotUsername" class="text-center">Forgot Username?</a>
            </div>
            <div class="form-group float-right">
                <a asp-page="Login" class="text-center">Sign in</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $("#img-captcha,#captchaRefresh").click(function () {
            resetCaptchaImage();
        });
        function resetCaptchaImage() {
            var d = new Date();
            $("#img-captcha").attr("src", "/Common/GetCaptchaImage?" + d.getTime());
        }
    </script>
}