@page
@using Microsoft.AspNetCore.Http
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LoginLayout";
}
@section Styles{
    <link href="~/plugins/password-requirement/css/jquery.passwordRequirements.css" rel="stylesheet" />
}
<div class="col-md-4 offset-md-4">
    <div class="card">
        <h5 class="card-header text-center">Reset your password</h5>
        <div class="card-body login-card-body">
            <p>Here you can reset your password...</p>
            <form method="post">
                <input asp-for="Input.Code" type="hidden" />
                <input asp-for="Input.UserId" type="hidden" />
                <input type="hidden" data-glass="@HttpContext.Session.GetString("Glass")" class="remMe">
                <input type="hidden" asp-for="Input.EncPassword" />
                <div class="form-group">
                    <label asp-for="Input.Password" class="col-form-label">Password*</label>
                    <div class="input-group">
                        <input asp-for="Input.Password" class="form-control pr-password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="toggle_pwd fa fa-eye" title="Show/Hide Password" data-toggle="tooltip" data-placement="top"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <span class="information">8 to 32 characters including 1 lower-case, 1 upper-case, 1 special character and a digit</span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="col-form-label">Confirm Password*</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Confirm Password" asp-for="Input.ConfirmPassword" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="toggle_pwd fa fa-eye" title="Show/Hide Password" data-toggle="tooltip" data-placement="top"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <span class="information">Must match with your password</span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <img id="img-captcha" src="/Common/GetCaptchaImage" alt="captcha" />
                        </div>
                        <input type="text" class="form-control" placeholder="Captcha Code" asp-for="Input.CaptchaCode" />
                        <div class="input-group-append" title="Reresh Captcha" data-toggle="tooltip" data-placement="top">
                            <div class="input-group-text">
                                <span id="captchaRefresh" class="fa fa-redo"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.CaptchaCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="btnSave" type="button" class="pr-submit-btn btn btn-danger btn-block">Submit</button>
                </div>
            </form>
            <div class="form-group">
                <a asp-page="Login" class="text-center">Sign in</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/plugins/password-requirement/js/jquery.passwordRequirements.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $("#img-captcha,#captchaRefresh").click(function () {
            resetCaptchaImage();
        });
        function resetCaptchaImage() {
            var d = new Date();
            $("#img-captcha").attr("src", "/Common/GetCaptchaImage?" + d.getTime());
        }
        $(".pr-password").passwordRequirements();
        $(".toggle_pwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var type = $(this).hasClass("fa-eye-slash") ? "text" : "password";
            $(this).parent().parent().prev('input').attr("type", type);
        });
        function SubmitForm(event) {
            var ctrlOldHtml = $('#btnSave').html();
            var theForm = $('#btnSave').parents('form:first');
            if (theForm.valid()) {
                var txtPassword = $('#Input_Password').val();
                var txtConPassword = $('#Input_ConfirmPassword').val();
                if (txtPassword == "") {
                    $("#divClientAlert").addClass("alert-danger");
                    $("#divClientAlert > p.m-0").text("Password is required");
                    $("#divClientAlert").show();
                    SetTimeOut($("#divClientAlert"));
                    return false;
                } else if (txtConPassword == "") {
                    $("#divClientAlert").addClass("alert-danger");
                    $("#divClientAlert > p.m-0").text("Confirm Password is required");
                    $("#divClientAlert").show();
                    SetTimeOut($("#divClientAlert"));
                    return false;
                }
                else {
                    $('#Input_EncPassword').val(Encrypt(txtPassword));
                    $('#Input_Password').val('Pa$$w0rdPa$$w0rd');
                    $('#Input_ConfirmPassword').val('Pa$$w0rdPa$$w0rd');
                    $('#btnSave').attr('disabled', true);
                    $('#btnSave').html('<i class="fa fa-spinner fa-spin"></i> Please wait');
                    theForm.submit();
                    return true;
                }
            } else {
                event.preventDefault();
                $('#btnSave').attr('disabled', false);
                $('#btnSave').html(ctrlOldHtml);
                return false;
            }
        };

        $('#btnSave').click(function (event) {
            SubmitForm(event);
        });

        $('form').keypress((e) => {
            if (e.which === 13) {
                SubmitForm(e);
                return true;
            }
        });
    </script>
}