@page
@model WebApp.Pages.Admin.Masters.Currents.IndexModel
@{
    ViewData["Title"] = "Currents";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title float-left font-weight-bold">Currents</h3>
            <a data-toggle="modal" data-target="#ManageModal" class="float-right">
                <i class="fa fa-plus text-dark" data-toggle="tooltip" data-placement="top" title="Create"></i>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            @if (Model.ModelVms != null && Model.ModelVms.Count > 0)
            {
                <div class="table-responsive">
                    <table id="tblDataTable" class="table table-sm table-bordered table-striped">
                        <thead>
                            @{
                                int index = 0;
                            }
                            <tr>
                                @*<th class="text-center noExport noSort"></th>*@
                                <th class="text-center">S. No.</th>
                                <th class="search">Current Name</th>
                                <th class="text-center noSort">Active</th>
                                <th class="text-center noExport noSort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ModelVms)
                            {
                            <tr>
                                @*<td class="text-center"></td>*@
                                <td class="text-right">
                                    @{ index++; }
                                    @index
                                </td>
                                <td>@item.CurrentName</td>
                                <td class="text-center"><i class="@(item.IsActive?"fa fa-check-circle text-success":"fa fa-minus text-danger")"></i></td>
                                <td class="text-center">
                                    <a data-id="@item.Id" data-toggle="modal" data-target="#ManageModal" class="ml-2 mr-2">
                                        <i class="fa fa-edit text-dark" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                                    </a>
                                    @if (item.IsActive)
                                    {
                                        <a onclick='Delete(@item.Id);'><i class="fa fa-trash text-dark" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                @*<th class="text-center noExport noSort"></th>*@
                                <th class="text-center">S. No.</th>
                                <th class="search">Current Name</th>
                                <th class="text-center noSort">Active</th>
                                <th class="text-center noExport noSort">Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <p>No records has been added yet. Click 'Create New' to start adding.</p>
            }
        </div>
    </div>
    <partial name="Shared/_CurrentsManagePartial" model="Model.ModelDto" />
</section>
@section Scripts{
    <script src="~/js/custom/Currents.js" asp-append-version="true"></script>
}