<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | Surplus Platform</title>
    <link rel="icon" href="/img/favicon.ico" type="image/ico" />

    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/alt-theme/css/adminlte.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/styles.min.css" rel="stylesheet" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    @*<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true" integrity="sha256-S75GkiFesBYApapc9z963NK1rTHVfL+uT+kz147UnOs=" crossorigin="anonymous">*@
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true" integrity="sha256-c73jiDwXcWz826zUVPtiptGIkCo49+pQ1w7JnOtEfms=" crossorigin="anonymous">

</head>
<body class="hold-transition">
    <partial name="_ClientAlertPartial" />
    <div class="mt-5">
        <div class="col-sm-12">
            <div class="login-logo text-center">
                <img src="/assets/images/logo.png" alt="TEMP" asp-append-version="true" />
            </div>
        </div>
        @RenderBody()
    </div>
    <script src="~/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/plugins/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/plugins/jquery-validate/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/plugins/datatables/DataTables-1.10.25/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/plugins/alt-theme/js/adminlte.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>